<?php

use Magento\Framework\App\Bootstrap;



try {
    require __DIR__ . '/../app/bootstrap.php';
} catch (\Exception $e) {
    echo <<<HTML
<div style="font:12px/1.35em arial, helvetica, sans-serif;">
    <div style="margin:0 0 25px 0; border-bottom:1px solid #ccc;">
        <h3 style="margin:0;font-size:1.7em;font-weight:normal;text-transform:none;text-align:left;color:#2f2f2f;">
        Autoload error</h3>
    </div>
    <p>{$e->getMessage()}</p>
</div>
HTML;
    http_response_code(500);
    exit(1);
}

$bootstrap = Bootstrap::create(
    BP,
    $_SERVER);

if (isset($_SERVER['FRANKENPHP_WORKER_ENABLE']) && $_SERVER['FRANKENPHP_WORKER_ENABLE'] == 1) {

    $maxRequests = (int)($_SERVER['MAX_REQUESTS'] ?? 0);
    for($nbRequests = 0; !$maxRequests || $nbRequests < $maxRequests;  ++$nbRequests) {
        $keepRunning =  \frankenphp_handle_request(function () use($nbRequests, $bootstrap): void
        {
            $app       = $bootstrap->createApplication(\Magento\Framework\App\Http::class);
            $bootstrap->run($app);

        });

        gc_collect_cycles();
        \Magento\Framework\App\ObjectManager::getInstance()->get(\Magento\Framework\App\ResourceConnection::class)->closeConnection();

        if (!$keepRunning) break;
    }

} else {
#DEFAULT MODE
    $bootstrap = Bootstrap::create(
        BP,
        $_SERVER);
    $app       = $bootstrap->createApplication(\Magento\Framework\App\Http::class);
    $bootstrap->run($app);

}
